extends base

prepend site_title
  | #{page.title} &mdash;&nbsp;

block site_body
  include _partial/site/mobile_nav



  
  .Grid.small-grid--full.Page(class=page.pageclass)
    include _partial/site/main_nav

    .Grid-cell.Main-content
      .Main-content--inner
        .container
          section
            article.Article(class=page.layout)
              header.Article__header.text-center
                p.Article__tags
                  span Hecho en Austin, TX &nbsp; &hearts; &nbsp; Con Puro Pinche Amor
                p.Article__meta.italics
                  | by alexrdz          
                h1.serif= page.title
                p
                  a(href="#{page.site_url}")=page.site_name
              
              .Article__content
                if page.path == 'work/index.html'
                  ul.list-unstyled.Grid.Grid--1of2.Grid--gutters
                    each page in site.pages.toArray()
                      if page.path == 'work/index.html'
                      else if page.path == 'about-me/index.html'
                      else
                        li.Project.Grid-cell.text-center
                          img(src="#{page.thumb}", alt="portfolio thumbnail", class="Project__image")
                          h3.Project__title.uppercase= page.title
                          .Project__content
                            p= page.excerpt
                            a.italics(href=url_for(page.path)) View project
                else
                  != page.content
                  
  


              include _partial/site/footer